@import "../../../../style/themeMixin.scss";

.layout-wrapper {
  margin: 0;

  @include get-class-from-key('background-color');
  &__left-slider-wrapper {
    height: 100vh;
    @include get-class-from-key('background-color', 'background-slider');
    width: 15%;
    padding: 16px;
    text-align: center;
    min-width: 220px;

    &-logo {
      @include get-class-from-key('color', 'color-logo');
      letter-spacing: 3px;
      font-size: 30px;
      font-weight: 700;
      margin: 20px;
    }

    .left-slider {
      &__options-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 8px;
        margin: 20px 0;
        @include get-class-from-key('color', 'color-font-normal');
        cursor: pointer;
        & > div {
          margin-left: 20px;
        }

        &:hover {
          @include get-class-from-key('color', 'color-font-light');
          background-color: #1081e8;
        }
      }
    }
  }

  &__theme-button-pos {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1011;
  }
}

div {
  @include get-class-from-key('transition');
}