$themes:(
  "light":(
    background-color:#f8f8f8,
    font-basis-color:#b6bbc9,
    box-border:#b6bbc9,
  ),
  "dark":(
    background-color:#1e1e1e,
    font-basis-color:#f0f0f0,
    box-border: none,
  )
)